body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ===============================
      MAIN (SUGGESTIONS)
==================================*/
.center-page {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.whole-page {
  display: flex;
  flex-direction: column;
}

/* ===============================
      PLAYLIST BAR
==================================*/

.playlist-container {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* ===============================
      NOW PLAYING
==================================*/

#now-playing-title {
  font-size: 2em;
  font-weight: 80;
  text-align: center;
  padding: 15px 25px;
  border-bottom: 4px #dcb239 solid;
}

#album-art {
  height: 300px;
  width: 300px;
}

.now-playing-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 30%;
  left: 30%;
  margin: 0;
}

/* ===============================
      SUGGESTIONS
==================================*/

.suggested-track-info {
  display: flex;
  flex-direction: row;
}

#add {
  height: 25px;
  width: 25px;
}

.suggested-track-info p {
  padding-left: 10px;
}

.suggestions-container {
  position: absolute;
  top: 70%;
}
/* ===============================
      filter
==================================*/

.filter-container {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* ===============================
      Login
==================================*/
#login {
  padding: 0.5em 3em;
  position: absolute;
  top: 50%;
  left: 40%;
}
